
body {
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    justify-content: center;
    align-items: center;
    font-family: monospace;
}

#collapse-btn {
    background: none;
    color: #222;
    border: none;
    padding: 10px;
    margin-right: 0px;
    cursor: pointer;

}

#collapse-btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.question {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 2px #00c0ff, 0 0 4px #00c0ff, 0 0 6px #00c0ff, 0 0 8px #f00;
    background-color: #424242;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #00c0ff;
    border-radius: 5px;
}

.answer {
    font-size: 1em;
    color: #fc6666;
    text-shadow: 0 0 2px #ff3f3f, 0 0 4px #ff3f3f, 0 0 6px #ff3f3f, 0 0 8px #00c0ff;
    background-color: #222;
    padding: 10px;
    margin-bottom: 20px;
    display: none;
    font-weight: bold;
}


header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 0px 0;
    margin: 0;
    width: 100%;
    z-index: 9999;
}

.logo {
    margin: 15px;
    width: auto;
    height: 5vh;
}

#faq {
    position: relative;
    padding: 30px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 80%;
    background-color: #222;
    border: 1px solid #00c0ff;
    border-radius: 10px;
    box-shadow: 0 0 10px #00c0ff;
}

img.background {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0px;
    z-index: -1;
    width: auto;
    height: 100%;
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
}

#search-input {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #00c0ff;
    border-radius: 25px;
    background-color: #222;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

#search-input:hover {
    color: white;
    border: none;
    padding: 11px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px #FF3333;
}

#search-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    box-shadow: 0px 0px 20px red;
}

.list-group-item {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    list-style: none;
    padding: 10px;
}

.list-group-item:hover {

}

.valid {
    background-color: #33ff8b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #33ff44;
}




#search-btn:hover {
    background-color: #FF3333;
    color: white;
    border: none;
    padding: 10px;

    font-size: 16px;
    text-align: center;
    box-shadow: 0px 0px 20px #FF3333;
}


.dark-theme {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
}

.dark-theme option {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    body {

        font-size: 14px;
    }

    img.background {
        content: url("img/bg-mobile.jpeg");

    }

    #faq {
        width: 80%;
        background-color: #222;
        border: 2px solid #00c0ff;
        border-radius: 10px;
    }


    .logo {
        margin: 5px;
    }

}
